

.container {
    height: auto;
    width: 100vw;
    text-align: center;
}

.left_bar {
    height: auto;
    width: 200px;
    float: left;
    margin-left: 20px;
    border: 3px solid #9999ff;
}

.art_thumbnails {
    height: auto;
    width: 1000px;
    min-width: 1000px;
    position: absolute;
    margin-left: 300px;
    text-align: left;
}

.images {
    height: auto;
    width: auto;
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    margin: 5px;
    transition: all .2s;
}

.images span a{
    float: right;
    margin-right: 5px;
    transition: all .2s;
}

.images span a:hover,
.images span a:active {
    color: red;
    transition: all .2s;
}

.images img {
    height: 200px;
    width: 200px;
}

.images p,
.images text {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.images:hover,
.images:active {
    border: 1px solid #9999ff;
    transition: all .2s;
}

.left_bar .logout {
    color: #9999ff;
    transition: all .2s;
}

.left_bar .logout:hover,
.left_bar .logout:active {
    color: red;
    transition: all .2s;
}