/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/

input {
    display: block;
    margin: 10px auto;
    
}

.input_group,
.btn {
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 18px;
    color: #3399ff;
    margin: 10px auto;
}

.left_bar {
    height: 100vh;
    width: 150px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin: 10px;
    display: inline-block;
    padding: 0;
}

.input_group input {
    color: #003366;
    height: 20px;
    width: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #003366;
    display: block;
    -webkit-transition: all .2s;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #003366;
    transition: all .2s;
    cursor: pointer;
}



.art_thumbnails {
    height: 100vh;
    width: calc(100vw - 150px);
    display: inline-block;
    position: absolute;
    margin: 10px;
    padding: 0;
}

.images {
    height: 350px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.images img{
    height: 300px;
    width: 300px;
    margin: auto;
}

.images p,
.images text {
    margin: auto;
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 18px;
    color: #3399ff;
}