/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/

input {
    display: block;
    margin: 10px auto;
    
}

.input_group,
.btn {
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 18px;
    color: #3399ff;
    margin: 10px auto;
}



/* 
.input_group label {
    color: #003366;
    width: 125px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #3399ff;
    margin: 0;
    padding: 0;
    display: block;
}

*/

.left_bar {
    height: 100vh;
    width: 150px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin: 10px;
    display: inline-block;
    padding: 0;
}

.input_group input {
    color: #003366;
    height: 20px;
    width: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #003366;
    display: block;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #003366;
    transition: all .2s;
}



.art_thumbnails {
    height: 100vh;
    width: 600px;
    display: inline-block;
    position: absolute;
    margin: 10px;
    padding: 0;
}