/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/

.container {
    height: 700px;
    width: 700px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.category {
    height: 300px;
    width: 250px;
    margin: 0 25px;
    display: inline-block;
    transition: all .5s;
}

.category img {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    transition: all .5s;
}

.category img:hover {
    height: 110%;
    transition: all .5s;
}