li {
    list-style: none;
}

.info_box {
    text-align: center;
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 60px;
    margin: auto;
    padding: 0;
    border-radius: 3px;
    margin-top: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

.info_box.fail {
    border: 3px solid red;
    color: #e5003c;
}

.info_box.success {
    border: 3px solid green;
    color: green;
}
