/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/


/* General */
body {
    padding: 0;
    margin: 0;
    background-color:  #003366;

}

.main body {
    background-color:  #003366;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation */
.header_nav {
    box-shadow: 0px 2px 2px #003366;
    text-align: center;
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 32px;
    background-color: #3399ff;
    padding: 0;
    margin: 0 auto;
}

.header_nav ul,
.header_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_nav ul li,
.header_footer ul li {
    display: inline-block;
    padding: 16px 16px;
    transition: background-color 0.2s;
}

.header_nav li:hover {
    background-color: #003366;
}

.header_nav a {
    color: #003366;
    text-decoration: none;
    transition: all 0.2s;
}

.header_nav li:hover a {
    color: #3399ff;
}

.header_nav a:hover,
.header_nav a:active {
    color: #003366;
}