/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/


/* General */
body {
    padding: 0;
    margin: 0;
    background-color:  #003366;
}

.main body {
    background-color:  #003366;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation */
.header_nav {
    box-shadow: 0px 2px 2px #003366;
    text-align: center;
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 32px;
    background-color: #3399ff;
    padding: 0;
    margin: 0 auto;
}

.header_nav ul,
.header_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_nav ul li,
.header_footer ul li {
    display: inline-block;
    padding: 16px 16px;
    background-color: #3399ff;
    color:  #003366;
    transition: background-color color 0.2s;
}

.header_nav li:hover {
    background-color: #003366;
    color: #3399ff;
    transition: all .2s;
}

input {
    display: block;
    margin: 10px auto;
    
}

.input_group,
.btn {
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 18px;
    color: #3399ff;
    margin: 10px auto;
}

.input_group input {
    color: #003366;
    height: 20px;
    width: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #003366;
    display: block;
    -webkit-transition: all .2s;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #003366;
    transition: all .2s;
    cursor: pointer;
}