/*
    #003366 - the darker blue in nav
    #3399ff - header nav background light blue


*/

/* General */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
}

/* Navigation */
.header_nav {
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 2px lightgray;
    text-align: center;
    font-size: 36px;
    margin: 30px 0;
    background-color: #9999ff;
}

.header_nav ul,
.header_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_nav ul li,
.header_footer ul li {
    display: inline-block;
    padding: 20px 16px;
    transition: background-color 0.2s;
}

.header_nav ul li:hover {
    background-color: white;
    transition: all .2s;
}

.header_nav ul li:hover a {
    color: #9999ff;
    transition: all .2s;
}

.header_nav a {
    color: black;
    transition: all 0.2s;
}

.header_nav a:hover,
.header_nav a:active {
    color: #9999ff;
}

/* End Navigation */

form {
    margin: 20px auto;
}

input {
    display: block;
    margin: 10px auto;
    height: 20px;
    width: 100px;
    border: 1px solid black;
}

.btn {
    height: 20px;
    width: 100px;
    background-color: white;
    font-weight: bold;
    color: #9999ff;
    transition: all .2s;
}

.btn:hover,
.btn:active {
    color: white;
    background-color: #9999ff;
    transition: all .2s;
    cursor: pointer;
}

.upload {
    width: 86px;
}

.pagination a {
    color: black;
    font-size: 36px;
}